<nz-card nzTitle="文本转语音">


  <div nz-row nzGutter="8">
    <div nz-col nzSpan="8">
      <label class="mg-top5">选择语言：</label>
      <nz-select [(ngModel)]="this.requestParms.lang" style="width:75%;" nzShowSearch (ngModelChange)="langChanged($event)"
        [nzDisabled]="isLoding">
        <nz-option *ngFor="let item of _langs" [nzLabel]="item.label" [nzValue]="item.value">
        </nz-option>
      </nz-select>
    </div>

    <div nz-col nzSpan="8">
      <label class="mg-top5">选择发音人：</label>
      <nz-select [(ngModel)]="this.requestParms.voice" style="width:70%;" nzShowSearch [nzDisabled]="isLoding">
        <nz-option *ngFor="let item of voices" [nzLabel]="item.label" [nzValue]="item.value">
        </nz-option>
      </nz-select>
    </div>

    <button nzSpan="2" (click)="analyze()" nz-button nzType="primary" [nzLoading]="isLoding">立即转换</button>
  </div>

  <br>

  <div nz-row nzGutter="8">
    <textarea nz-input [(ngModel)]="this.requestParms.text" [nzAutosize]="{ minRows: 24, maxRows: 24 }" placeholder="请输入文本"
      [disabled]="isLoding"></textarea>
  </div>



</nz-card>