<div nz-row nzGutter="8">
  <div nz-col nzSpan="12">
    <nz-card nzHoverable style="width:100%" [nzCover]="coverTemplate">
      <ng-template #coverTemplate>
        <div #imgContainer>
          <img [src]="requestParms.imgUrl" />
        </div>
      </ng-template>

      <nz-card-meta [nzTitle]="ocrTitle" [nzDescription]="ocrInputContent" style="margin-bottom:8px;">
        <ng-template #ocrTitle>
          <h2>图片场景分析</h2>
        </ng-template>
        <ng-template #ocrInputContent>
          <div nz-row nzGutter="4">
            <label nz-col nzSpan="4" class="mg-top5">图片Url地址:</label>
            <div nz-col nzSpan="20">
              <input nz-input [(ngModel)]="requestParms.imgUrl" placeholder="请输入图片url" [disabled]="isLoding">
            </div>
          </div>

          <button (click)="analyze()" nz-button nzType="primary" [nzLoading]="isLoding" [disabled]="!requestParms.imgUrl">立即识别</button>

        </ng-template>
      </nz-card-meta>
    </nz-card>

  </div>

  <div nz-col nzSpan="12">
    <nz-spin [nzTip]="'加载中...'" [nzSpinning]="isLoding">
      <nz-card>
        <nz-tabset>
          <nz-tab nzTitle="预览">
            <textarea nz-input [(ngModel)]="result" [nzAutosize]="{ minRows: 24, maxRows: 24 }" readonly></textarea>
          </nz-tab>

        </nz-tabset>
      </nz-card>
    </nz-spin>

  </div>
</div>